﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    height:100%;
}

html{
    height:100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    height:100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.margin-bottom {
    margin-bottom: 20px;
}

.margin-top {
    margin-top: 100px;
}

.error-msg {
    margin-top: 10px;
    color: red;
}

.full-width {
    width: 100%;
    max-width: 100%;
}

.right-align {
    float: right;
}