﻿@{
    ViewBag.Title = "User page";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<container>
    <div class="col-md-12">
        <h3>All my packages</h3>
    </div>
    <div class="row margin-bottom">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Sender</th>
                    <th>Receiver</th>
                    <th>Package name</th>
                    <th>Package description</th>
                    <th>Sender city</th>
                    <th>Destination city</th>
                    <th>Tracking</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in ViewBag.packageMyListFull)
            {
                    <tr>
                        <td>@x.id</td>
                        <td>@x.User.name</td>
                        <td>@x.User1.name</td>
                        <td>@x.name</td>
                        <td>@x.description</td>
                        <td>@x.sender_city</td>
                        <td>@x.destination_city</td>
                        <td>@x.tracking</td>
                    </tr>
                }
        </table>
    </div>
    <hr />
    <div class="col-md-12">
        <h3>Search package</h3>
    </div>
    <div class="row margin-bottom">
        @using (Html.BeginForm("Search", "User", FormMethod.Post))
        {
            <div class="col-md-4">
                <input type="text" name="id" class="form-control" placeholder="Search by id" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="col-md-4">
                <input type="text" name="name" class="form-control" placeholder="Search by name" aria-label="Password" aria-describedby="basic-addon1">
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary" type="submit" value="Register">Search</button>
                <p class="error-msg">@ViewBag.ErrorMsgSearch</p>
            </div>
        }
    </div>
    <div class="row margin-bottom">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Sender</th>
                    <th>Receiver</th>
                    <th>Package name</th>
                    <th>Package description</th>
                    <th>Sender city</th>
                    <th>Destination city</th>
                    <th>Tracking</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in ViewBag.filteredList)
            {
                    <tr>
                        <td>@x.id</td>
                        <td>@x.User.name</td>
                        <td>@x.User1.name</td>
                        <td>@x.name</td>
                        <td>@x.description</td>
                        <td>@x.sender_city</td>
                        <td>@x.destination_city</td>
                        <td>@x.tracking</td>
                    </tr>
                }
        </table>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>City</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in ViewBag.trackingList)
            {
                    <tr>
                        <td>@x.city</td>
                        <td>@x.date</td>
                    </tr>
                }
        </table>
    </div>
</container>