﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="row">
    <container>
        <div class="col-md-12 margin-top">
            <div class="col-md-6">
                <h1 class="margin-bottom">Login</h1>
                @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                {
                <div class="input-group margin-bottom">
                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user" aria-hidden="true"></i></span>
                    <input type="text" name="user" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group margin-bottom">
                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-key" aria-hidden="true"></i></span>
                    <input type="password" name="pass" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                </div>
                <button class="btn btn-primary" type="submit" value="Login">Log in</button>
                <p class="error-msg">@ViewBag.ErrorMsgLogin</p>
                }
            </div>

            <div class="col-md-6">
                <h1 class="margin-bottom">Register</h1>
                @using (Html.BeginForm("Register", "Home", FormMethod.Post))
                {
                <div class="input-group margin-bottom">
                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user" aria-hidden="true"></i></span>
                    <input type="text" name="reguser" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group margin-bottom">
                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-key" aria-hidden="true"></i></span>
                    <input type="password" name="regpass" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                </div>
                <div class="input-group margin-bottom">
                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-repeat" aria-hidden="true"></i></span>
                    <input type="password" name="regpass2" class="form-control" placeholder="Repeat Password" aria-label="RepeatPassword" aria-describedby="basic-addon1">
                </div>
                <button class="btn btn-primary" type="submit" value="Register">Sign in</button>
                <p class="error-msg">@ViewBag.ErrorMsgRegister</p>
                <p>@ViewBag.SuccessMsgRegister</p>
                }
            </div>
        </div>
    </container>
</div>