﻿@{
    ViewBag.Title = "Admin Page - Packages";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<container>
    <div class="col-md-12">
        <h3>Add package</h3>
    </div>
    @using (Html.BeginForm("AddPackage", "Admin", FormMethod.Post))
    {
        <div class="row margin-bottom">
            <div class="col-md-3">
                @Html.DropDownList("SenderList", ViewBag.userListSender as IEnumerable<SelectListItem>, "Select sender", new { @class = "form-control" })
                <input id="valueSelectedS" name="sender" style="display:none" />
            </div>
            <div class="col-md-3">
                @Html.DropDownList("ReceiverList", ViewBag.userListReceiver as IEnumerable<SelectListItem>, "Select receiver", new { @class = "form-control" })
                <input id="valueSelectedR" name="receiver" style="display:none" />
            </div>
            <div class="col-md-3">
                <input type="text" name="senderCity" class="form-control" placeholder="Sender city" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="col-md-3">
                <input type="text" name="destCity" class="form-control" placeholder="Destination city" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="row margin-bottom">
            <div class="col-md-4">
                <input type="text" name="name" class="form-control full-width" placeholder="Package name" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="col-md-8 ">
                <input type="text" name="description" class="form-control full-width" placeholder="package description" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="row">
            <button class="btn btn-primary right-align" type="submit" value="AddPackage">Add package</button>
            <p class="error-msg">@ViewBag.ErrorMsg</p>
            <p>@ViewBag.SuccessMsg</p>
        </div>
    }
    <hr />
    <div class="col-md-12">
        <h3>Remove package</h3>
    </div>
    @using (Html.BeginForm("RemovePackage", "Admin", FormMethod.Post))
    {
        <div class="row margin-bottom">
            <div class="col-md-6">
                @Html.DropDownList("PackageList", ViewBag.packageList as IEnumerable<SelectListItem>, "Select package", new { @class = "form-control" })
                <input id="packageSelected" name="package" style="display:none" />
            </div>
        </div>
        <div class="row">
            <button class="btn btn-primary right-align" type="submit" value="RemovePackage">Remove package</button>
            <p class="error-msg">@ViewBag.ErrorMsgRemove</p>
        </div>
    }
    <hr />
    <div class="col-md-12">
        <h3>All packages</h3>
    </div>
    <div class="row margin-bottom">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Sender</th>
                    <th>Receiver</th>
                    <th>Package name</th>
                    <th>Package description</th>
                    <th>Sender city</th>
                    <th>Destination city</th>
                    <th>Tracking</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in ViewBag.packageListFull)
            {
                    <tr>
                        <td>@x.User.name</td>
                        <td>@x.User1.name</td>
                        <td>@x.name</td>
                        <td>@x.description</td>
                        <td>@x.sender_city</td>
                        <td>@x.destination_city</td>
                        <td>@x.tracking</td>
                    </tr>
                }
        </table>
    </div>
</container>


<script>
    $(document).ready(function () {
        $("#SenderList").change(function () {
            var value = $("#SenderList Option:Selected").text();
            $("#valueSelectedS").val(value);
        });
        $("#ReceiverList").change(function () {
            var value = $("#ReceiverList Option:Selected").text();
            $("#valueSelectedR").val(value);
        })
        $("#PackageList").change(function () {
            var value = $("#PackageList Option:Selected").attr("value");
            $("#packageSelected").val(value);
        })
    })
</script>

<style>
   
</style>