﻿@{
    ViewBag.Title = "Tracking";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<container>
    <div class="col-md-12">
        <h4>Start tracking package</h4>
    </div>
    @using (Html.BeginForm("TrackPackage", "Admin", FormMethod.Post))
    {
        <div class="row margin-bottom">
            <div class="col-md-6">
                @Html.DropDownList("PackageList", ViewBag.packageListNotTracked as IEnumerable<SelectListItem>, "Select package", new { @class = "form-control" })
                <input id="packageSelectedTrack" name="package" style="display:none" />
            </div>
            <div class="col-md-6 right-align">
                <button class="btn btn-primary right-align" type="submit" value="StartTracking">Start tracking</button>
                <p class="error-msg">@ViewBag.ErrorMsgTrack</p>
            </div>
        </div>

    }
    <hr />
    <div class="col-md-12">
        <h4>Track package</h4>
    </div>
    @using (Html.BeginForm("SeeTrack", "Admin", FormMethod.Post))
    {
        <div class="row margin-bottom">
            <div class="col-md-6">
                @Html.DropDownList("PackageListTracked", ViewBag.packageListTracked as IEnumerable<SelectListItem>, "Select package", new { @class = "form-control" })
                <input id="packageSelectedTracked" name="package" style="display:none" />
            </div>
            <div class="col-md-6 right-align">
                <button class="btn btn-primary right-align" type="submit" value="StartTracking">Get tracked package status</button>
                <p class="error-msg">@ViewBag.ErrorMsgTracked</p>
            </div>
        </div>

    }
    <div class="row margin-bottom">


        <div class="col-md-6">
            <div class="col-md-12 margin-bottom">
                <h4>Package id: @ViewBag.packageId</h4>

            </div>
            <div class="col-md-12">
                <h4>Package name: @ViewBag.packageName</h4>
            </div>
        </div>
        <div class="col-md-6">

            @using (Html.BeginForm("AddTrack", "Admin", FormMethod.Post))
            {
                <div class="col-md-12 margin-bottom" style=" height: 30px">
                    <input type="text" name="track" class="form-control right-align" placeholder="city name" aria-label="Username" aria-describedby="basic-addon1">
                    <input id="herePackage" name="packageTra" style="display:none" />
                </div>
                <div class="col-md-12 right-align">
                    <button class="btn btn-primary right-align" type="submit" value="StartTracking">Add new entry route</button>
                    <p class="error-msg">@ViewBag.ErrorMsgAddCity</p>
                </div>
            }
         
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>City</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in ViewBag.trackingList)
            {
                    <tr>
                        <td>@x.city</td>
                        <td>@x.date</td>
                    </tr>
                }
        </table>
    </div>
</container>

<script>
    $(document).ready(function () {
        $("#PackageList").change(function () {
            var value = $("#PackageList Option:Selected").attr("value");
            $("#packageSelectedTrack").val(value);
        })
        $("#PackageListTracked").change(function () {
            var value = $("#PackageListTracked Option:Selected").attr("value");
            $("#packageSelectedTracked").val(value);
            console.log($("#packageSelectedTracked").val());
            console.log($("#herePackage").val());
            $("#herePackage").val(value);
            console.log($("#herePackage").val());
        })
    })
</script>